@import "Variables.scss";

body, html {
    position:absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    background-image: linear-gradient(170deg, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 100%); 
    overflow: hidden;
}


.main-heading-wrapper {
    position: absolute;
    border: 2px dashed black;
    width: 40vw;
    left: 10vw;
    top: 30vh;
    font-size: 36px;


    h1 {
        color: $secondaryDark;
        width: 35vw;
        font-family: $font-heading;
        font-weight: 600;
        font-size: 1.4em;
        text-transform: capitalize;
    
        span {
            color: $primaryColor;
        }
    }
}

.main-heroimage {
    position: absolute;
    height: 150vh;
    left: 60vw;
}