@import "Variables.scss";

body, html {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    background: linear-gradient(170deg, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%); 
    overflow: hidden;
}


.main-heading-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    font-size: 36px;


    h1 {
        color: black;
        width: 35vw;
        font-weight: 900;
        font-size: 2em;
        letter-spacing: -1px;
        text-transform: capitalize;
        line-height: 2em;

    
        span:nth-child(1) {
            font-size: 2em;
            letter-spacing: -3px;
            font-weight: 800;
            font-family: $font-merriweather;
        }

        span:nth-child(2) {
            position: relative;
            color: $primaryColor;
            font-family: $font-raleway;
            font-weight: 900;
            font-size: 3.5em;
            background: linear-gradient(90deg, $primaryColor 0%, $secondaryColor 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            z-index: 1;
        }

        span:nth-child(4) {
            position: relative;
            font-size: 2.3em;
            letter-spacing:10px;
            font-style: italic;
            font-weight: 800;
            font-family: $font-anton;
            z-index: 2;
        }
    }

    .main-heroimage {
        height: 1200px;
        top: -90px;
        left: 120px;
        position: absolute;
        mix-blend-mode: hard-light;
        z-index: 1;
    }

    #main-btn-wrapper {
        position: absolute;
        height: 400px;
        width: 900px;
        top: 170px;
        left: 135px;
        border: 8px dashed black;
        z-index: 0;

        button {
            position: absolute;
            right: 50px;
            bottom: 50px;
            font-family: $font-text;
            background: linear-gradient(to right, $primaryColor, $secondaryColor);
            color: white;
            text-decoration: none;
            width: 280px;
            height: 80px;
            font-size: 1em;
            border-style: solid;
            border-width: 0px;
            border-radius: 10px;
            text-transform:uppercase;
            box-shadow:inset -5px -8px 0px rgba(0,0,0,0.2);

        }
        
    }

}

#shape-wrapper {

    #main-shape {
        height: 100vh;
        width: 30vw;
        background-color: $primaryColor;
        float: right;
        display: none;
    }

}
