@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primaryColor: #FA544B;
$primaryDark: #AD2A23;
$primaryLight: #FF6E66;
$secondaryLight: #4BFA8D;
$secondaryDark: #11AD4D;
$backgroundWhite: #FFFFFF;

$font-heading: 'Belanosima', sans-serif;
$font-text: 'Roboto', sans-serif;